<html>
    <head>
        <title>Dashi main page</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        {% block extrahead %}
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
                </div>
                <a class="navbar-brand" href="#">Dashi</a>
                <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{path}}">Home</a>
                        </li>
                        <li>
                            <a href="{{path}}commits.html">Commits</a>
                        </li>
                        <li>
                            <a href="{{path}}jenkins.html">Jenkins</a>
                        </li>
                        <li>
                            <a href="{{path}}jira.html">Jira</a>
                        </li>
                        <li>
                            <a href="{{path}}sentry.html">Sentry</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container" style="padding-top: 40px">
            {% block body %}
            {% endblock %}
        </div>

    </body>
</html>
